logs/*
experiments/*
*.pyc
synthetic_tests
synthetic_tests_f
synthetic_tests_O
synthetic_tests_O2
synthetic_tests_O - Copy
synthetic_tests_NORF
synthetic_tests_dd_test_O
synthetic_tests_dd_test
synthetic_tests_ABCD
synthetic_tests_ABC
Revision_ToRead
JournalRevision2
JournalRevision
ICDM
DSAA
*.rar